ul {
    border: 1px solid #87BEC8;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #E9F3F4;
 }

 h1 {
    font-weight: bold;
    text-align: left;
    color: #547688;
 }

 h2 {
    font-weight: bold;
    text-align: left;
    color: #6B94A9;
 }

h3 {
    font-weight: bold;
    text-align: left;
    color: #81ACC2;
}

div.heading1{border: 2px solid #313F4C;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
background-color:#95E4DE;
}

div.heading2{border: 2px solid #2C3D31;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
background-color: #A3DCB4;
}

div.heading3{border: 2px solid #37412D;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
background-color: #C0DCA5;
}

