body {
   background-color: #A3CCDF;
}

a {
   font-style: italic;
   color: rgb(0, 0, 255);
}

ul {
    border: 5px solid #4F667B;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    background-color: #E9FCF7;
    border-radius: .5em;
 }

 h1 {
    font-weight: bold;
    text-align: left;
    color: #3D5265;
    text-transform: capitalize;
    font-family: 'Squada One', cursive;
 }

 h2 {
    font-weight: bold;
    text-align: left;
    color: #3D5265;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
 }

h3 {
    font-weight: bold;
    text-align: left;
    color: #3D5265;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-weight: bold;
    text-align: left;
    color: #3D5265;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
}

footer {
   border: 5px solid #4F667B;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 10px;
   background-color: #E9FCF7;
   border-radius: .5em;
}

div.heading1 {
   border: 5px solid #4F667B;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 10px;
   background-color:#E9FCF7;
   border-radius: .5em;
}

div.heading2 {
   border: 5px solid #4F667B;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 10px;
   background-color: #E9FCF7;
   border-radius: .5em;
}

div.heading3 {
   border: 5px solid #4F667B;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 10px;
   background-color: #E9FCF7;
   border-radius: .5em;
}

div.heading4 {
   border: 5px solid #4F667B;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 10px;
   background-color: #E9FCF7;
   border-radius: .5em;
}

.container {
   max-width: 960px;
   margin: 1em auto 1em auto;
}

img {
   display: block;
   margin: 1em auto;
   width: 100%;
   height: auto;
   border-radius: .5em;
}

nav ul {
   display: flex;
   flex-direction: row;
   padding: 0px;
   border-radius: 2em;
}

nav ul li {
   flex: 1;
   list-style-type: none;
}

nav ul li a {
   display: block;
   padding: 0.25em;
   margin: 0.25em;
   background-color: #4F667B;
   color: #E9FCF7;
   text-align: center;
   text-decoration: none;
   border-radius: 1em;
   border-color: #4F667B;
   border-style: solid;
}

nav ul li a:hover {
   display: block;
   padding: 0.25em;
   margin: 0.25em;
   background-color: #4f667b00;
   color: #4F667B;
   text-align: center;
   text-decoration: none;
   border-radius: 1em;
   border-color: #4F667B;
   border-style: solid;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10px 10px 10px 10px;
  border-radius: .5em;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 650px) {
   nav ul {
      flex-direction: column;
      padding: 0 20px;
   }
   nav ul li {
      margin: 10px 0;
   }
}